/* common start */

html, body {
    font-family: 'SFProDisplay', sans-serif;
    font-weight: normal;
    height:      100%;
    overflow:    hidden;
    margin:      0;
    color:       white;
}

html {
    width:       100%;
}

.error {
    display:         flex;
    align-items:     center;
    justify-content: center;
    height:          100%;
    width:           100%;
    overflow:        hidden;
    word-break:      break-word;
    color:           red;
}

.loading {
    display:         flex;
    align-items:     center;
    justify-content: center;
    height:          100%;
    width:           100%;
    overflow:        hidden;
    word-break:      break-word;
}

pre {
    font-family: 'SFProDisplay', sans-serif;
    font-weight: normal;
    white-space: pre-wrap;
}

.balance-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.balance {
    width: 442px;
    height: 78px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    padding-left: 20px;
}

.balance-value {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.balance-withdraw {
    margin-left: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.balance-withdraw__icon {
    width: 16px;
    height: 16px;
}

.balance-withdraw__text {
    margin-left: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #0bccf7;
}

.show-key {
    font-size: 16px;
    color: #00f6d2;
    margin-right: 10px;
}

.tx-warning {
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 30px;
    text-align: center;
}

.admin-ui {
    display:         flex;
    align-items:     center;
    justify-content: center;
    margin-top: 30px;
}

.admin-ui > input {
    margin-right: 20px;
}

.vertical-container {
    display: flex; 
    flex-direction: column;
    width:  100%;
    height: 100%;
}

.web .vertical-container {
    height: 85%;
}

.artworks-controls {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.artworks-controls__tabs {
    display: flex;
    flex-direction: row;
}

.tab-item {
    color: rgba(255, 255, 255, .3);
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.tab-item__title {
    padding: 4px 16px;
    text-transform: uppercase;
}

.tab-item__bottom-line {
    height: 2px;
    width: 100%;
    box-shadow: 0 0 5px 0 rgba(0, 246, 210, 0.7);
    background-color: #00f6d2;
}

.tab-active {
    color: #fff;
}

.artworks {
    display:   flex;
    flex-wrap: wrap;
    overflow: auto;
    margin-top: 20px;
}

.artworks > .artwork {
    margin-right: 16px;
    margin-bottom:  16px;

    display: flex;
    flex-direction: column;
    width:   284px;
    border:  none;
    background-color: rgba(240, 205, 205, 0.05);
    border-radius: 10px;

}

.artwork-title {
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
}

.artwork-likes {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 20px;
    cursor: pointer;
}

.artwork-likes__text {
    margin-left: 5px;
}

.artwork-owner {
    font-size: 12px;
    color: rgba(255, 255, 255, .5);
}

.artwork .preview-container {
    height: 360px;
    background-color: rgba(240, 205, 205, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.artwork img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.artwork > .info-row {
    box-sizing: border-box;
    padding: 0 14px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 3px;
}

.artwork-bottom-row {
    height: 41px;
    margin: 10px 0 20px 0;
    padding: 0 14px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.artwork .like {
    color: #00f6d2;
    margin-left: 10px;
}

.artwork-can-buy {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.artwork-can-buy__amount,
.artwork-can-buy__curr {
    margin-left: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.artwork-can-buy__button {
    margin-left: auto;
}

.empty-gallery {
    margin: 100px auto 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.empty-gallery__text {
    margin-top: 30px;
    opacity: 0.5;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    color: #fff;
}

.not-on-sale {
    margin-left: auto;
    opacity: 0.5;
    font-size: 14px;
    font-style: italic;
    color: #fff;
}

::-webkit-scrollbar {
    width: 11px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255, 255, 255, .5);
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-button {
    display: none;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
}

.green {
    background-color: limegreen;
}

.red {
    background-color: crimson;
}

.darker {
    opacity: 0.5
}

.small {
    font-size: 0.85em;
}

.normal {
    font-size: 0.9em;
    opacity: 0.9;
}

.bolder {
    font-weight: 500;
}

.bold {
    font-weight: 600;
}

.hidden {
    display: none;
}

.ml-hem {
    margin-left: 0.5em;
}

.disabled {
    opacity: 0.2;
}

.button {
    padding: 11px 25px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    color: #032e49;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.button.buy {
    background-color: #da68f5;
}

.button.sell {
    background-color: #0bccf7;
}

.button.cancel,
.button.close {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.button.proceed {
    margin-left: 30px;
    background-color: #0bccf7;
}

.button.copy {
    margin-left: 30px;
    background-color: #00f6d2;
}

.button__text {
    margin-left: 5px;
    line-height: 1;
}

.button:not(.disabled):hover {
    box-shadow: 0 0 8px white;
}

.user-opt {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.user-opt__key {
    padding: 14px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .1);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-opt__key__text {
    font-size: 16px;
    color: #00f6d2;
    margin-left: 10px;
}

.user-opt__user {
    padding-left: 15px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
}

.user-opt__user__text {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-left: 7px;
}

.mine {
    padding: 3px 8px;
    line-height: 1;
    border-radius: 3px;
    background-color: rgba(0, 246, 210, .3);
    color: #fff;
    font-size: 12px;
    margin-left: 10px;
}

.popup {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.popup .popup__content-key{
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 760px;
}

.popup__content-sell__title,
.popup__content-key__title {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.popup__content-key__data {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.popup__content-key__data .copy-icon {
    margin-left: 10px;
    cursor: pointer;
}

.popup__content-key__controls {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.popup .popup__content-sell {
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 390px;
}

.popup__content-sell__input {
    margin-top: 20px;
    height: 45px;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .05);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.popup__content-sell__input__elem {
    background: rgba(255, 255, 255, 0);
    border: none;
    font-size: 24px;
    resize: none;
    color: #0bccf7;
    height: 100%;
    padding: 0;
    border-radius: 10px;
    padding: 8px;
    max-width: 292px;
}

.popup__content-sell__input__elem:focus {
    outline-width: 0;
    color: #0bccf7;
}

.popup__content-sell__input__elem::placeholder {
    color: #0bccf7;
}

.popup__content-sell__input__text {
    margin-right: 8px;
    font-size: 16px;
    margin-left: auto;
    color: #ffffff;
}

.popup__content-sell__controls {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.popup__content-sell__info {
    margin-top: 30px;
    opacity: 0.7;
    font-size: 14px;
    font-style: italic;
    color: #fff;
}

.popup__content-sell__fee {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-self: flex-start;
}

.popup__content-sell__fee__title {
    opacity: 0.5;
    font-size: 12px;
    color: #fff;
}

.popup__content-sell__fee__value {
    font-size: 14px;
    font-weight: 500;
    color: #0bccf7;
    margin-left: 10px;
}