html, body {
  font-family: 'SFProDisplay', sans-serif;
  font-weight: normal;
  height:      100%;
  width:       100%;
  overflow:    hidden;
  margin:      0;
  color:       white;
}

.vertical-container {
  display: flex; 
  flex-direction: column;
  width:  100%;
  height: 100%;
}

.web .vertical-container {
  height: 85%;
}

.pointer-cursor {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 11px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(255, 255, 255, .5);
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-button {
  display: none;
}

.darker {
  opacity: 0.5
}

.hidden {
  display: none;
}

/*
 * TODO remove
 */
.button {
  padding: 11px 25px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  color: #032e49;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.button.buy {
  background-color: #da68f5;
}

.button.sell, 
.button.change {
  background-color: #0bccf7;
}

.button.cancel,
.button.close {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.button.proceed {
  margin-left: 30px;
  background-color: #0bccf7;
}

.button.copy {
  margin-left: 30px;
  background-color: #00f6d2;
}

.button__text {
  margin-left: 5px;
  line-height: 1;
  font-weight: bold;
}

.button:not(.disabled):hover {
  box-shadow: 0 0 8px white;
}

*[disabled="true"] {
  cursor: default !important;
  opacity: 0.5;
}

