/* common start */

html, body {
    font-family: 'SFProDisplay', sans-serif;
    font-weight: normal;
    height:      100%;
    overflow:    hidden;
    margin:      0;
    color:       white;
}

html {
    width:       100%;
}

.loading {
    display:         flex;
    align-items:     center;
    justify-content: center;
    height:          100%;
    width:           100%;
    overflow:        hidden;
    word-break:      break-word;
}



.balance-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.balance {
    width: 442px;
    height: 78px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    padding-left: 20px;
}

.balance-value {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.balance-withdraw {
    margin-left: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.balance-withdraw__icon {
    width: 16px;
    height: 16px;
}

.balance-withdraw__text {
    margin-left: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #0bccf7;
}

.show-key {
    font-size: 16px;
    color: #00f6d2;
    margin-right: 10px;
}

.admin-column {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: -15px;
}

.admin-column select.upload_artist {
    font-size: 0.95em;
}

.admin-row {
    display:         flex;
    align-items:     center;
    justify-content: center;
}

.admin-row > *:not(first) {
    margin-top: 20px;
}

.admin-row > input {
    margin-right: 20px;
}

.vertical-container {
    display: flex; 
    flex-direction: column;
    width:  100%;
    height: 100%;
}

.web .vertical-container {
    height: 85%;
}

.actions-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.artworks-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 94%;
}

.artworks-controls__tabs {
    display: flex;
    flex-direction: row;
}

.tab-item {
    color: rgba(255, 255, 255, .3);
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.tab-item__title {
    padding: 4px 16px;
    text-transform: uppercase;
}

.tab-item__bottom-line {
    height: 2px;
    width: 100%;
    box-shadow: 0 0 5px 0 rgba(0, 246, 210, 0.7);
    background-color: #00f6d2;
}

.tabActive {
    color: #fff;
}

.artworks {
    display:   flex;
    flex-wrap: wrap;
    overflow: auto;
    margin-top: 20px;
}

.artworks > .artwork {
    margin-right: 16px;
    margin-bottom:  16px;

    display: flex;
    flex-direction: column;
    width:   284px;
    border:  none;
    background-color: rgba(240, 205, 205, 0.05);
    border-radius: 10px;

    position:relative;
}

.artwork-delete {
    position: absolute;
    left: 263px;
    top: 5px;
    width: 15px;
    cursor: pointer;
}

.artwork-title {
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
}

.artwork-likes {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 20px;
    cursor: pointer;
}

.artwork-likes__text {
    margin-left: 5px;
}

.artwork-author {
    font-size: 12px;
    color: rgba(255, 255, 255, .5);
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.artwork .preview-container {
    height: 360px;
    background-color: rgba(240, 205, 205, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.artwork img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.artwork > .info-row {
    box-sizing: border-box;
    padding: 0 14px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 3px;
}

.artwork-price-row {
    min-height: 41px;
    margin: 10px 0 20px 0;
    padding: 0 12px 0 14px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.artwork .like {
    color: #00f6d2;
    margin-left: 10px;
}

.artwork-can-buy {
    display: flex;
    line-height: 2;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.artwork-can-buy__amount,
.artwork-can-buy__curr {
    margin-left: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.artwork-can-buy__button {
    margin-left: auto;
}

.empty-gallery {
    margin: 100px auto 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.empty-gallery__text {
    margin-top: 30px;
    opacity: 0.5;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    color: #fff;
}

.not-on-sale {
    margin-left: auto;
    opacity: 0.5;
    font-size: 14px;
    font-style: italic;
    color: #fff;
}

::-webkit-scrollbar {
    width: 11px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255, 255, 255, .5);
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-button {
    display: none;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
}

.green {
    background-color: limegreen;
}

.red {
    background-color: crimson;
}

.darker {
    opacity: 0.5
}

.small {
    font-size: 0.85em;
}

.normal {
    font-size: 0.9em;
    opacity: 0.9;
}

.bolder {
    font-weight: 500;
}

.bold {
    font-weight: 600;
}

.hidden {
    display: none;
}

.ml-hem {
    margin-left: 0.5em;
}

.disabled {
    opacity: 0.3;
    cursor: auto !important;
}

.button {
    padding: 11px 25px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    color: #032e49;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.button.buy {
    background-color: #da68f5;
}

.button.sell, 
.button.change {
    background-color: #0bccf7;
}

.button.cancel,
.button.close {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.button.proceed {
    margin-left: 30px;
    background-color: #0bccf7;
}

.button.copy {
    margin-left: 30px;
    background-color: #00f6d2;
}

.button__text {
    margin-left: 5px;
    line-height: 1;
}

.button:not(.disabled):hover {
    box-shadow: 0 0 8px white;
}

.user-opt {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.user-opt__key {
    padding: 14px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .1);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-opt__key__text {
    font-size: 16px;
    color: #00f6d2;
    margin-left: 10px;
}

.user-opt__key__connect {
    font-size: 16px;
    color: #00f6d2;
}

.user-opt__user {
    padding-left: 15px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
}

.user-opt__user__text {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-left: 7px;
}

.mine {
    padding: 0px 8px 4px 8px;
    line-height: 1;
    border-radius: 3px;
    background-color: rgba(0, 246, 210, .3);
    color: #fff;
    font-size: 12px;
    margin-left: 10px;
}

.popup {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.popup .popup__content-key{
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 760px;
}

.popup__content-sell__title,
.popup__content-key__title {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.popup__content-key__data {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.popup__content-key__data .copy-icon {
    margin-left: 10px;
    cursor: pointer;
}

.popup__content-key__controls {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.popup .popup__content-sell {
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 390px;
}

.popup__content-sell__input {
    margin-top: 20px;
    height: 45px;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .05);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.popup__content-sell__input__elem {
    background: rgba(255, 255, 255, 0);
    border: none;
    font-size: 24px;
    resize: none;
    color: #0bccf7;
    height: 100%;
    padding: 0;
    border-radius: 10px;
    padding: 8px;
    max-width: 292px;
}

.popup__content-sell__input__elem:focus {
    outline-width: 0;
    color: #0bccf7;
}

.popup__content-sell__input__elem::placeholder {
    color: #0bccf7;
}

.popup__content-sell__input__text {
    margin-right: 8px;
    font-size: 16px;
    margin-left: auto;
    color: #ffffff;
}

.popup__content-sell__controls {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.popup__content-sell__info {
    margin-top: 30px;
    opacity: 0.7;
    font-size: 14px;
    font-style: italic;
    color: #fff;
}

.popup__content-sell__fee {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-self: flex-start;
}

.popup__content-sell__fee__title {
    opacity: 0.5;
    font-size: 12px;
    color: #fff;
}

.popup__content-sell__fee__value {
    font-size: 14px;
    font-weight: 500;
    color: #0bccf7;
    margin-left: 10px;
}

.custom-select {
    position: relative;
    display: flex;
    text-align: left;
    outline: none;
    height: 47px;
    line-height: 47px;
    min-width: 160px;
    margin-left: auto;
}

.custom-select .selected {
    background-color: transparent;
    border-radius: 6px;
    color: #fff;
    padding-left: 1em;
    cursor: pointer;
    user-select: none;


    opacity: 0.7;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.47px;
}

.custom-select .selected.open {
    border: none;
}

.custom-select .selected:after {
    position: absolute;
    content: "";
    top: 22px;
    right: 1em;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: #fff transparent transparent transparent;
}



.selectHide {
    display: none;
}

.pointer-cursor {
    cursor: pointer;
}

*[disabled="true"] {
    cursor: default !important;
    opacity: 0.5;
}

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 2px;
}

.paginator > .prev,
.paginator > .next {
    width: 68px !important;
    height: 22px;
    margin: 0 20px 0 0;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, .1);
    color: rgba(255, 255, 255, .5);
    font-size: 14px;
    text-align: center;
}

.paginator > .prev:hover:not([disabled="true"]),
.paginator > .next:hover:not([disabled="true"]) {
    color: rgba(255, 255, 255, .9);
    cursor: pointer;
}

.paginator > .prev[disabled="true"],
.paginator > .next[disabled="true"] {
    color: rgba(255, 255, 255, .15);
}

.paginator > .prev {
    margin: 0 13px 0 0;
}

.paginator > .next {
    margin: 0 0 0 16px;
}

.paginator > .page {
  margin: 3px 7px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.paginator >.page:hover:not([selected="true"]) {
    color: rgba(255, 255, 255, .9);
    cursor: pointer
}

.paginator > .page[selected="true"] {
    cursor: auto;
    color: #00f6d2;
}

.artwork-can-buy__dots {
    margin-left: auto;
    cursor: pointer;
    margin-right: -4px;
}

.admin_input,.admin_select,.admin_span{
    font-size: 18px;
}


.sort-container {
    margin-left: auto;
    display: flex;
    justify-content: center;
}
.sort-text{
    align-self: center;
    color: #fff;
    opacity: 0.5; 
}
  
  .show {
    display: flex;
    margin-left: 200px; 
}
  
  .hide {
    display: none;
}

.custom-select {
    position: relative;
    display: flex;
    text-align: left;
    outline: none;
    height: 47px;
    line-height: 47px;
    min-width: 20px;
    margin-left: auto;
}
  
  .custom-select .selected {
    background-color: transparent;
    border-radius: 6px;
    color: #fff;
    padding-left: 1em;
    cursor: pointer;
    user-select: none;
    opacity: 0.7;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: normal;
}
  
  .custom-select .selected.open {
    border: none;
}
  
  .custom-select .selected:after {
    position: absolute;
    content: "";
    top: 22px;
    right: -16px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: #fff transparent transparent transparent;
}
  
  .custom-select .items {
    color: #fff;
    overflow: hidden;
    position: absolute;
    border:none;
    border-radius: 4px;
    font-size: 16px;
    right: 0;
    z-index: 1;
    margin-top: 40px;
}
  
  .custom-select .items div {
    color: #fff;
    padding: 15px 0 15px 1em;
    line-height: 1;
    cursor: pointer;
    user-select: none;
}
  
  .custom-select .items div:hover {
    color: #00f6d2;
}

.highlightLine{
    font-size: 14px;
    font-weight: bold;
    color: #00f6d2;
}